## java specific
!.gitignore
*.iml
*.iws
*.ipr
target
*/target
*/*/target
 
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
/test-suite/nb-configuration.xml
/hopper/nb-configuration.xml
/server/nb-configuration.xml
/server/nbactions.xml
/test-suite/nbactions.xml
/hopper/nbactions.xml
