<?xml version="1.0" encoding="UTF-8"?>

<sense-config xmlns="http://docs.rackspacecloud.com/cloud-sense/sense-config/v1.0">
    <defaults>
        <author name="Rackspace Cloud" />
    </defaults>

    <!-- http://localhost:8080/service/ -->
    <workspace title="Service Feeds" resource-base="/service/">

        <!-- http://localhost:8080/service/events -->
        <feed title="Service Event Feed" resource="/events" adapter-ref="testing-adapter"></feed>
    </workspace>
</sense-config>

