<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Atom Hopper Server</display-name>
    <description>ATOM</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--
            If you would rather this config file be read out of the META-INF
            folder then use this setting:
            <param-value>/META-INF/application-context.xml</param-value>
        -->
        <param-value>file:///etc/atomhopper/application-context.xml</param-value>
    </context-param>

    <!--This section configures log4j properties-->
    <context-param><!--Log4j properties file location "file:///" required.-->
        <param-name>log4jConfigLocation</param-name>
        <param-value>file:///etc/atomhopper/log4j.properties</param-value>
    </context-param>
    <context-param><!--This causes it to check once a second for changes to the log4j.properties file.-->
        <param-name>log4jRefreshInterval</param-name>
        <param-value>1000</param-value>
    </context-param>
    <listener><!--This listener must come before any other listeners in this file.-->
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <!--End log4j section-->

    <listener>
        <display-name>Spring Context Loader</display-name>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet id="atom-hopper">
        <servlet-name>Atom-Hopper</servlet-name>
        <servlet-class>org.atomhopper.AtomHopperServlet</servlet-class>

        <init-param>
            <param-name>config-location</param-name>
            <param-value>file:///etc/atomhopper/atom-server.cfg.xml</param-value>
        </init-param>

        <init-param>
            <param-name>context-adapter-class</param-name>
            <param-value>org.atomhopper.servlet.ServletSpringContext</param-value>
        </init-param>
        <!--
            Use the atomhopper-url-pattern to match the url-pattern so ATOM entries
            use valid self URLs.
            
            Ex: <url-pattern>/atom/*</url-pattern>
            
            Map the above as:
            <param-name>atomhopper-url-pattern</param-name>
            <param-value></atom/param-value>
            
            Note: There is not need for the asterix on the
            atomhopper-url-pattern param-value
            
        -->
        <init-param>
            <param-name>atomhopper-url-pattern</param-name>
            <param-value></param-value>
        </init-param>
    </servlet>

    <servlet id="atom-hopper-version">
        <servlet-name>Atom-Hopper-Version</servlet-name>
        <servlet-class>org.atomhopper.AtomHopperVersionServlet</servlet-class>
    </servlet>

    <servlet-mapping id="atom-hopper-mapping">
        <servlet-name>Atom-Hopper</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping id="atom-hopper-version-mapping">
        <servlet-name>Atom-Hopper-Version</servlet-name>
        <url-pattern>/version</url-pattern>
    </servlet-mapping>
</web-app>
